{{#if currentUser.can_see_activation_key_button}}     
<h3>  
  <button
    class="btn topic-group-button" 
    title={{siteSettings.activation_key_button_title}}
    {{action "toggleBody"}}>{{siteSettings.activation_key_button_label}} 
  </button>                            
  {{#if isShowingBody}}                 
	<form> 
        <h3>Activation Request Key:</h3>                             
	<p>       
        <input type="text" value="">                   
        </p>
        <p>                       
        <button type="submit" value="Submit">Validate Request</button>  
        </p>
        <p>
        <h3>Activation Key</h3>  
        </p>
    </form>                               
  {{/if}}      
</h3>                                  
{{/if}}                                
                                                                              
