button.btn.topic-group-button{
        position:absolute;
        border: 1px solid #008CBA;
}

button.btn.topic-group-button:hover{
	background-color: #008CBA;
	color:white;
}

button.activationButton{
        position:absolute;
        border: 1px solid #008CBA;
}

button.activationButton:hover{
	background-color:#008CBA;
	color:white;
}	

input.activationText{
	width:200%;
}


